*{
    margin:0px;
    padding:0px;
}

html,body{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    font-size: 14px;
	font-family: 'Microsoft YaHei';    
}


.body{
    width: 100%;
    height: 1000px;
    margin-top: 90px;
/*    background-color: pink;*/
    
}

.content{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color:#fefaef;
    
}

.content-left{
    width: 300px;
    height: 100%;
    float: left;
    background-color:#8ebe3e;
    
}

.content-left span{
    display: block;
    margin-left: 35px;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 22px;
    color:white;
}

.content-left-list{
    margin-left: 35px;    
}

.content-left-list a{
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "ËÎÌå";
    font-weight: bold;
    color: white;
}

.content-left-list a:hover{
    color:dimgrey;
}


a,a:hover,a:visited{
	text-decoration: none;
}

.content-right{
    width: 900px;
    height: 100%;
    float: left;
    background-color: white;  
}

.content-right-title{
    margin-top: 50px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-left: 80px;
    color: #86c025;
    font-size: 22px;
    
}

.table{
    margin-left: 100px;
    width:400px;
    
/*    background-color: blueviolet;*/
}

.table-head,.table-row1{
    width: 100%;
    height:40px;
    border-bottom-width: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    background-color: #86c025;
}

.table-data-checkbox{
    width: 50px;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 40px;
    border-right-width: 1px;
    border-right-color: white;
    border-right-style: solid;
}

.table-data-checkbox input{
	margin:15px auto;
}

.table-data{
    width: 138px;
    height: 100%;
    float: left;
    text-align: center;
    color:white;
    font-size: 16px;
    line-height: 40px;
    border-right-width: 1px;
    border-right-color: white;
    border-right-style: solid;
}

.table-data-edit{
    width: 71px;
    height: 100%;
    float: left;
    text-align: center;
    color:white;
    font-size: 16px;
    line-height: 40px;
}

.table-row0{
    width: 100%;
    height:40px;
    border-bottom-width: 1px;
    border-bottom-color: white;
    border-bottom-style: solid;
    background-color: #b5db7c;
}

.table-data-edit a,.table-data-edit a:hover,.table-data-edit a:visited{
    color:white;
   
	text-decoration: none;
}

.form-btns{
    margin-top: 30px;
    margin-left: 100px;
    height: 30px;
    
}

.form-btn-submit{
    width: 80px;
    height: 100%;
    background-color:#86c025;
    float: left;
}

.form-btn-submit:hover{
    background-color:#b5db7c;
    cursor:pointer;
}

.form-btn-submit input{
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    font-family: "ºÚÌå";
    font-size: 16px;
    background: transparent;
}

.form-btn-submit input:hover{
    cursor: pointer;
}

.pages{
    width: 380px;
    height: 30px;
/*    background-color: brown;*/
    margin: 50px auto;
}

.before a{
    display: block;
    width: 50px;
    height: 100%;
    font-size: 16px;
    color:#86c025;
    float: left;
/*    background-color: aquamarine;*/
}


.page-nums{
    width:160px;
    height: 100%;
    float: left;
    font-size: 16px;
    color:darkgrey;
/*    background-color: deeppink;*/
    margin: 0 auto;
    text-align: center;
}

.after a{
    display: block;
    width: 50px;
    height: 100%;
    font-size: 16px;
    color:#86c025;
    float: right;

/*    background-color: aquamarine;*/
}
