.province{
    width: 90px;
    height: 44px;
    margin: 0 10px; 
    text-align: center;
    font-size: 16px;
    line-height: 44px;
    color: gray;
}
.select_province{
    width: 350px;
    margin-top: -44px;
    float: right
}
.select{
    border: 0;
    height: 42px;
    font-size: 16px;
}

.city{
    width: 90px;
    height: 44px;
    margin: 0 10px; 
    text-align: center;
    font-size: 16px;
    line-height: 44px;
    color: gray;
}
.select_city{
    width: 350px;
    margin-top: -44px;
    float: right
}