*{
    margin:0px;
    padding:0px;
}

html,body{
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    font-size: 14px;
	font-family: 'Microsoft YaHei';    
}

a,a:hover,a:visited{
	text-decoration: none;
}

.clear{
	clear:both;
}
/*head导航条*/
.head{
    position: absolute;
    top:0;
    left:0px;
	width:100%;
	height: 90px;
    background: white;
    position: fixed;
    opacity: 0.9;
    z-index: 999;
}

.head-Con{
    width:1200px;
    height: 90px;
    margin: 0 auto;
}

.nav{
    width:510px;
    height: 90px;
    float: right;
}

.a1{
    display: block;
    width:40px;
    height: 90px;
    color:#333333;
    float: left;
    text-align: center;
    font-size: 16px;
    line-height: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.a2{
    display: block;
    height: 90px;
    color:#333333;
    float: left;
    text-align: center;
    font-size: 18px;
    line-height: 100px;
    margin-left: 15px;
    margin-right: 15px;
    width:120px;   
}

.nav a:hover{
    color:#77f93e;
    font-weight: bold;
    border-bottom: 4px solid #77f93e;
}

/*搜索框*/
#search_box {
    margin: -55px 500px;
    width: 201px; 
    height: 31px; 
    background: url(../images/bg_search_box.jpg); 
} 
#search_box #s { 
    float: left; 
    padding: 0; 
    margin: 2px 3px; 
    border: 0; 
    width: 159px; 
    background: none; 
    font-size: 1.6rem; 
} 
#search_box #go {
    border:none;
    cursor: pointer;
    background: url(../images/btn_search_box.jpg);
    width: 27px;
    height: 24px;
    float: right; 
    margin: 3px 4px 0 0; 
} 
.zhuce-Con{
    width:1200px;
    height: 100%;
    margin: 110px auto;
    background: #ffffff;
}
.zhuce-success-img{
    width:300px;
    height:300px;
    margin: 0 auto;
    background-image: url(../images/bg_log_small.png);
}

.zhuce-sucess-txt{
    width:600px;
    height: 80px;
    margin: 10px auto;
    text-align: center;
}

.zhuce-sucess-txt a{
    font-size: 40px;
}

.go{
    width: 250px;
    height: 50px;
    margin: -60px auto;
}

.go input{
    width: 250px;
    height: 50px;
    font-size: 20px;
    color: #f5f5f5;
    font-weight: bold;
    background-color: #85c125;
    border: 1px solid #85c125;
    cursor: pointer;
}
.moto{
    width:100%;
    height:70px;
}

.moto-Con{
    width:1200px;
    height:100%;
    border-bottom: 2px solid #353435;
    margin: 150px auto;
}

.moto-Con a{
    display: block;
    width: 100%;
    text-align: center;
    font-size:42px;
    font-family: "华文新魏";
    color:dimgray;
    margin: 0 auto;
}

.bottom {
    margin: 10px auto;
	text-align:center;
	padding:10px;
	line-height:30px;
}

.bottom a{
	font-size:16px;
	color:dimgray;
	padding:10px;
	line-height:30px;
    text-decoration: none;
}

.footer{
    width: 100%;
    height: 100px;
}